<div class="row marketing">
  <ul>
    <nav>
      <div>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            Choose your language
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="changeLanguage('es')"><img src="i18n/flag-spain.png"/>&nbsp;Spanish</a></li>
            <li><a ng-click="changeLanguage('en')"><img src="i18n/flag-uk.png"/>&nbsp;English</a></li>
            <li><a ng-click="changeLanguage('de')"><img src="i18n/flag-germany.png"/>&nbsp;German</a></li>
            <li><a ng-click="changeLanguage('fr')"><img src="i18n/flag-france.png"/>&nbsp;French</a></li>
            <li><a ng-click="changeLanguage('it')"><img src="i18n/flag-italy.png"/>&nbsp;Italian</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </ul>
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
